@media only screen and (min-width: 768px) {
    .checkout-index-index .opc-payment .payment-group .actions-toolbar{
        display: none !important;
    }
}
.checkout-index-index .opc-wrapper{
    background : #F2F2F2;

}
.checkout-index-index .opc-wrapper .opc-payment .payment-method{
    background: white;
}
.checkout-index-index .modal-content #place-order-trigger{
    width: 100%;
}
@media only screen and (max-width: 768px) {
    .checkout-index-index .opc-wrapper{
        max-width: unset !important;
    }
}
